body{
    margin: 0;
}
#ju_landing{
    font-size: 16px;
    @media(max-width: 991px){
        font-size: 12px;
    }
    @media(max-width: 639px){
        font-size: 16px;
        background: url(../images/bg-hero.jpg);
        background-size: cover;
    }
    .ju-container{
        width: calc(100% - 4em);
        padding: 0 2em;
        max-width: 1168px;
        margin: 0 auto;
    }
    #landing_hero{
        background: url(../images/bg-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat; 
        overflow: hidden;
        position: relative;
        z-index: 1;
        @media (max-width: 639px){
            background: none;
        }
        &:before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 18.25em;
            height: 10.25em;
            background: url(../images/corner.png);
            z-index: -1;
            @media (max-width: 639px){
                width: 100%;
                height: 30%;
                bottom: initial;
                top: 0;
                background: url(../images/corner-total.png);
                background-size: 100% 100%; 
            }
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 18.25em;
            height: 10.25em;
            background: url(../images/corner.png);
            transform: rotateZ(180deg);
            z-index: -1;
            @media (max-width: 639px) {
                content: none;
            }
        }
        .ju-container{
            position: relative;
            height: 23.625rem;
            display: flex;
            padding-top: 3em;
            @media (max-width: 639px){
                height: initial;
            }
            &:before{
                content: "";
                background: url(../images/jovenes.png);
                background-size: cover;
                position: absolute;
                width: 40%;
                height: 100%;
                top: 0;
                right: 0;
                z-index: -2;
                opacity: 0.2;
                filter: grayscale(0.6);
                transform: scale(1.4) translateY(10%);
                @media(max-width: 639px){
                    content: none;
                }
            }
            .hero-content{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 60%;
                @media (max-width: 639px){
                    width: 100%;
                    align-items: center;
                }
                figure{
                    img{}
                    @media (max-width: 639px){
                        width: 2em;
                        img{
                            width: 100%;
                        }
                    }
                }
                h3{
                    margin: 0 0 0 0; 
                    font-size: 1em; 
                    span{
                        &:first-of-type{
                            color: $blue;
                            font-size: 3em;
                            font-weight: 700;
                            display: block;
                            margin: 0 auto;
                            text-align: left;
                            max-width: 8em;
                            @media(max-width: 639px){
                                font-size: 1.875em;
                            }
                        }
                        &:last-of-type{
                            color: $cian;
                            font-size: 1.875em;
                            font-weight: 400;
                            display: block;
                            margin: 0 auto;
                            @media(max-width: 639px){
                                display: none;
                            }
                        }
                    }
                    a, button{
                        display: inline-block;
                        text-decoration: none;
                        margin: 1rem 0 0 0;
                        outline: none;
                        background: $yellow;
                        color: $blue;
                        text-shadow: none;
                        border: none;
                        font-family: $trebu;
                        font-weight: 700;
                        font-size: 1em;
                        padding: 0.75em 2.5em;
                        border-radius: 0.5em;
                        cursor: pointer;
                        transition: all .3s ease;
                        &:hover{
                            color: $yellow;
                            background: $blue;
                        }
                        @media(min-width: 640px){
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #landing_main{
        position: relative;
        z-index: 2;
        background-color: #f7f7f7;
        padding-bottom: 6em;
        @media (max-width: 639px){
            background: none;
            padding-bottom: 0;
        }
        .ju-container{
            position: relative;
            overflow: visible;
            padding-top: 3.125em;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @media (max-width: 639px){
                flex-wrap: wrap;
            }
            .overlay-image{
                position: absolute;
                width: 35%;
                bottom: calc(100% - 3.425em);
                right: 0;
                @media (max-width: 639px){
                    position: relative;
                    width: 100%;
                    max-width: 20em;
                    margin: 0 auto;
                }
                img{
                    width: 100%;
                }
            }
            .info-content{
                width: calc(60% - 4em);
                margin: 1.5em 0 0 0 0;
                @media (max-width: 639px){
                    width: 100%;
                }
                h4{
                    font-size: 1.75em;
                    font-weight: 700;
                    color: $cian;
                    margin: 0 0 0 0;
                    
                }
                .carousel-container{
                    @media(max-width: 639px){
                        margin-bottom: 2em;
                    }
                    article{
                        display: flex;
                        align-items: center;
                        margin-top: 2rem;
                        @media (max-width: 639px){
                            flex-wrap: wrap;
                            justify-content: center;
                        }
                        figure{
                            img{}
                        }
                        figcaption{
                            margin-left: 1em;
                            h5{
                                margin: 0 0 0 0;
                                color: $blue;
                                font-size: 1.3125em;
                                @media (max-width: 639px){
                                    margin: 1rem 0 0 0;
                                    text-align: center;
                                }
                            }
                            p{
                                margin: 0.5rem 0 0 0;
                                color: #878787;
                                font-size: 1.125em;
                                @media (max-width: 639px){
                                    margin: 1rem 0 0 0;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .slick-dots{
                        display: flex;
                        justify-content: center;
                        margin: 1rem 0 0 0;
                        li{
                            width: 0.5em;
                            height: 0.5em;
                            margin: 0.25em;
                            background: #cecece;
                            border-radius: 50%;
                            cursor: pointer;
                            button{
                                display: none;
                            }
                            &.slick-active{
                                background: $cian;
                            }
                        }
                    }
                }
            }
            form{
                width: calc(40% - 6em);
                background: white;
                border-radius: 0.5rem;
                padding: 1.5em 3em 3em;
                position: relative;
                @media (max-width: 639px){
                    width: 100%;
                    padding-left: 2em;
                    padding-right: 2em;
                    padding-bottom: 4em;
                    margin-left: -2em;
                    margin-right: -2em;
                    padding-top: 3em;
                    &:before{
                        font-family: 'Fontawesome';
                        content: "\f0d7";
                        position: absolute;
                        bottom: calc(100% - 0.54em);
                        color: #f0f0f0;
                        font-size: 10em;
                        transform: scaleY(.5) translateX(-50%);
                        left: 50%;;
                    }
                }
                h4{
                    font-size: 1.375em;
                    color: #878787;
                    margin: 0 0 0 0;
                    @media (max-width: 639px){
                        font-size: 1.1875em;
                    }
                }
                .input-group{
                    margin: 1.3rem 0 0 0;
                    position: relative;
                    label{
                        display: block;
                        font-size: 1em;
                        color: #878787;
                        font-family: $trebu;
                    }
                    input{
                        border: 1px solid #d2d2d2;
                        border-radius: 0;
                        box-shadow: none;
                        line-height: 1; 
                        font-size: 1em;
                        color: #878787;
                        height: 3em;
                        width: calc(100% - 2em);
                        outline: none;
                        padding: 0 1em;
                        border-radius: 0.5em;
                        margin: 0.5rem 0 0 0;
                    }
                    &.alert{
                        &:before{
                            content: 'Este campo es obligatorio';
                            color: #ff3e3e;
                            font-family: $trebu;
                            font-weight: 400;
                            font-size: 0.75em;
                            position: absolute;
                            top: 0.3em;
                            right: 0;
                        }
                        input{
                            background-color: #fffef0;
                            border-color: #ff3e3e;
                        }
                    }
                }
                .select-group{
                    margin: 1rem 0 0 0 ;
                    label{
                        display: block;
                        font-size: 1em;
                        color: #878787;
                        font-family: $trebu;
                    }
                    .select{ //dom content
                        position: relative;
                        select{
                            position: absolute;
                            transform: scale(0);
                            height: 0;
                        }
                        >div{
                            border: 1px solid #d2d2d2;
                            border-radius: 0;
                            box-shadow: none;
                            line-height: 1; 
                            font-size: 1em;
                            color: #878787;
                            height: 3em;
                            width: calc(100% - 2em);
                            outline: none;
                            padding: 0 1em;
                            border-radius: 0.5em;
                            margin: 0.5rem 0 0 0;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-family: $trebu;
                            font-weight: 400;
                            cursor: pointer;
                            position: relative;
                            &:after{
                                font-family: 'Fontawesome';
                                content: "\f0d7";
                                position: absolute;
                                top: 50%;
                                right: 1em;
                                transform: translateY(-50%);
                                color: black;
                            }
                        }
                        >ul{
                            border: 1px solid #d2d2d2;
                            box-shadow: none;
                            line-height: 1; 
                            width: 100%;
                            outline: none;
                            border-radius: 0.5em;
                            margin: 0.2rem 0 0 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            font-family: $trebu;
                            font-weight: 400;
                            position: absolute;
                            background: white;
                            z-index: 4;
                            padding: 1em 0;
                            display: none;
                            li{
                                border-radius: 0;
                                box-shadow: none;
                                line-height: 1; 
                                font-size: 1em;
                                color: #878787;
                                width: calc(100% - 2em);
                                outline: none;
                                padding: 0.5em 1em;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                font-family: $trebu;
                                font-weight: 400;
                                cursor: pointer;
                                &:hover{
                                    background: $yellow;
                                }
                            }
                        }
                    }
                }
                .button-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 1rem;
                    a, button, input[type=submit]{
                        outline: none;
                        background: $yellow;
                        color: $blue;
                        text-shadow: none;
                        border: none;
                        font-family: $trebu;
                        font-weight: 700;
                        font-size: 1.125em;
                        padding: 0.75em 2.5em;
                        border-radius: 0.5em;
                        cursor: pointer;
                        transition: all .3s ease;
                        &:hover{
                            color: $yellow;
                            background: $blue;
                        }
                    }
                    span.messaje{
                        flex: 1;
                        display: flex;
                        margin-left: 1em;
                        background: gray;
                        align-items: center;
                        padding: 1em;
                        border-radius: 2em;
                        img{
                            margin-right: 0.5rem;
                        }
                        p{
                            margin: 0;
                            color: white;
                            font-size: 0.75em;
                        }
                        &.success{
                            background: #d6e04c;
                        }
                        &.error{
                            background: #e04c4c;
                        }
                    }
                }
            }
        }
    }
}