//Colores
/* defaults */
$facebook: #3954a1;
$twitter: #56d7fe;
$whatsapp: #25d366;
//
$yellow: #f6e91d;
$blue: #0536a7;
$cian: #02abc9;

/* Typographies */
$trebu: 'Trebuchet MS', sans-serif;
$tipografia-principal: $trebu;

// MIXINS 
@mixin placeholder($color: black, $transform: null, $weight: null){
    &::-webkit-input-placeholder {color: $color; text-transform: $transform;}
    &::-moz-placeholder {color: $color; text-transform: $transform;}
    &:-ms-input-placeholder {color: $color; text-transform: $transform;}
    &:-moz-placeholder {color: $color; text-transform: $transform;}
}
@mixin reset_pseudo{
    &.uk-container{
        &:before, &:after{
            content: none;
        }
    }
}
@mixin absolute($width:100%, $height: 100%, $top: 0, $left: 0, $bottom: null, $right: null){
    position: absolute;
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}